<mat-grid-list cols="2" rowHeight="4:3" class="mt-5 mx-5">
  <mat-grid-tile>
    <button mat-raised-button class="w-100 h-100" routerLink="/employee">
      <mat-icon style="font-size: 150px; width: 150px; height: 150px"
        >groups</mat-icon
      >
      <div class="text-center mx-3" style="font-size: 30px">Employees</div>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button class="w-100 h-100" routerLink="/department">
      <mat-icon style="font-size: 150px; width: 150px; height: 150px"
        >apartment</mat-icon
      >
      <div class="text-center mx-3" style="font-size: 30px">Departments</div>
    </button>
  </mat-grid-tile>
</mat-grid-list>
