<form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
  <mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100 mt-5">
        <mat-label>Username:</mat-label>
        <input
          matInput
          type="text"
          name="psername"
          [(ngModel)]="username"
          autocomplete="off"
          required
          autofocus
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100 mt-5">
        <mat-label>Password:</mat-label>
        <input
          matInput
          [type]="visiblePasswordInput ? 'text' : 'password'"
          name="password"
          [(ngModel)]="password"
          autocomplete="off"
          required
        />
        <mat-icon
          matSuffix
          color="primary"
          style="cursor: pointer"
          (click)="visiblePasswordInput = !visiblePasswordInput"
          [fontIcon]="visiblePasswordInput ? 'visibility_off' : 'visibility'"
        ></mat-icon>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100 mt-5">
        <mat-label>Full Name:</mat-label>
        <input
          matInput
          type="text"
          name="fullName"
          [(ngModel)]="fullName"
          autocomplete="off"
          required
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="primary"
        class="w-50 mt-5"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Register
        <mat-icon>add</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
