<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fadi Krdiyeh</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="employee" routerLinkActive="active"
            >Employees</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="department" routerLinkActive="active"
            >Departments</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link"
            ><i class="fas fa-language fa-xl mx-2 px-1"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fas fa-sun fa-xl mx-3 px-1"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-user me-2"></i> Account
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" routerLink="account/login">Login</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="account/register"
                >Register</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="account/logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <!-- <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button> -->
  <span class="me-5">Fadi Krdiyeh</span>

  <a class="mx-2" mat-button routerLink="home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    Home
  </a>
  <a class="mx-2" mat-button routerLink="employee" routerLinkActive="active">
    <mat-icon>groups</mat-icon>
    Employees
  </a>
  <a class="mx-2" mat-button routerLink="department" routerLinkActive="active">
    <mat-icon>apartment</mat-icon>
    Departments
  </a>

  <span class="toolbar-spacer"></span>
  <!-- <div class="flex-stretch"></div> -->

  <mat-icon class="mx-2" *ngIf="!isOffline; else offlineIcon"
    >signal_wifi_4_bars</mat-icon
  >
  <ng-template #offlineIcon
    ><mat-icon class="mx-2" *ngIf="isOffline"
      >signal_wifi_off</mat-icon
    ></ng-template
  >

  <mat-icon class="ms-2">brightness_5</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" class="mx-1">
  </mat-slide-toggle>
  <mat-icon class="me-2">bedtime</mat-icon>

  <button mat-button class="mx-2">
    Ar
    <mat-icon>language</mat-icon>
  </button>

  <span class="mx-2 d-flex align-items-center" *ngIf="false">
    Username
    <button mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </span>

  <button mat-button [matMenuTriggerFor]="beforeMenu">
    <mat-icon>person</mat-icon>
    Account
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Login</button>
    <button mat-menu-item>Register</button>
  </mat-menu>
</mat-toolbar>
