.custom-badge {
  padding: 5px 10px;
  //width: fit-content;
  //height: 50px;
  font-size: 18px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.address-badge {
  background-color: aqua;
  color: #111;
}
.department-badge {
  background-color: rgb(255, 136, 0);
  color: #111;
}
.salary-badge {
  background-color: rgb(166, 255, 0);
  color: #111;
}
