<div class="container text-center">
  <div class="d-flex justify-content-center align-items-center mt-5">
    <mat-tab-group
      style="width: 500px"
      class="mt-5"
      [selectedIndex]="tabIndex"
      (selectedTabChange)="changeUrl($event)"
    >
      <mat-tab label="Login">
        <!-- <div
          class="alert alert-danger mt-3"
          *ngIf="loginForm.invalid && loginForm.submitted"
        >
          <mat-icon class="me-2" style="position: relative; top: 7px"
            >warning_amber</mat-icon
          >
          Invalid username or password!
        </div> -->
        <fadi-login></fadi-login>
        <!-- <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
              <mat-form-field appearance="fill" class="w-100 mt-5">
                <mat-label>Username:</mat-label>
                <input
                  matInput
                  type="text"
                  name="lUsername"
                  [(ngModel)]="lUsername"
                  autocomplete="off"
                  required
                  autofocus
                />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field appearance="fill" class="w-100 mt-5">
                <mat-label>Password:</mat-label>
                <input
                  matInput
                  type="password"
                  name="lPassword"
                  [(ngModel)]="lPassword"
                  autocomplete="off"
                  required
                />
                <mat-icon matSuffix color="primary" style="cursor: pointer"
                  >visibility</mat-icon
                >
                <mat-icon matSuffix color="primary">lock</mat-icon>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <button
                mat-raised-button
                color="primary"
                class="w-50 mt-5"
                type="submit"
                [disabled]="loginForm.invalid"
              >
                Login
                <mat-icon>login</mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </form> -->
      </mat-tab>
      <mat-tab label="Register">
        <!-- <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
              <mat-form-field appearance="fill" class="w-100 mt-5">
                <mat-label>Username:</mat-label>
                <input
                  matInput
                  type="text"
                  name="rUsername"
                  [(ngModel)]="rUsername"
                  autocomplete="off"
                  required
                  autofocus
                />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field appearance="fill" class="w-100 mt-5">
                <mat-label>Password:</mat-label>
                <input
                  matInput
                  type="password"
                  name="rPassword"
                  [(ngModel)]="rPassword"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field appearance="fill" class="w-100 mt-5">
                <mat-label>Full Name:</mat-label>
                <input
                  matInput
                  type="text"
                  name="rFullName"
                  [(ngModel)]="rFullName"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <button
                mat-raised-button
                color="primary"
                class="w-50 mt-5"
                type="submit"
                [disabled]="registerForm.invalid"
              >
                Register
                <mat-icon>add</mat-icon>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </form> -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
